/* Fondo del sitio web */
body {
    background: rgb(255, 255, 255);
}

/* Contenedor del perfil */
.profile {
    margin: 20px 0;
}

/* Perfil lateral */
.profile-sidebar {
    padding: 0;
}

 /* Imagen user */
.profile-userpic img {
    float: none;
    margin: 0 auto;
    height: 125px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

 /* Contenedor texto principal */
.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

 /* Texto username */
.profile-usertitle-name {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

 /* Texto rol user */
.profile-usertitle-rol {
    text-transform: uppercase;
    color: #2687d6;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}
   
 /* Contenedor menu usuario */ 
.profile-usermenu {
    margin-top: 30px;
    text-align: center;
}

 /* Elementos listados */
.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

 /* Elementos listados (+ links) */
.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

 /* Elementos listados (+ links no activos) */
.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

 /* Elementos listados (hover) */
.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

 /* Elementos listados activos */
.profile-usermenu ul li.active {
    border-bottom: none;
}

 /* Elementos listados (links activos) */
.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

 /* Contenido del perfil */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}




/* ///////////////////////////// */

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
    margin-right: 1em;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.commentimage {
    height: 64px;
    width:64px;
}

.image24px {
    width: 24px;
    height: 24px;
}

.image500px {
    height: 500px;
}

.image200px {
    width: 200px;
    height: 200px;
}

.image150px {
    width: 150px;
    height: 150px;
}