<a href="{{ URL }}events/add" class="btn btn-primary my-2 my-sm-0" title="Agregar queja"><i class="fas fa-plus-circle"></i></a>
<a href="{{ URL }}events/list" class="btn btn-primary my-2 my-sm-0" title="Ver todas las quejas"><i class="fas fa-list"></i></a>
