{% extends "base/base.twig" %}

{% block header %}
    {% include "base/smallheader.twig" %}
{% endblock %}

{% block content %}
<div class="row my-3">
    <div class="col-12">
        <h1>{{ message }}</h1>
    </div>
</div>
{% endblock %}