{% extends "base/base.twig" %}

{% block header %}
    {% include "base/smallheader.twig" %}
{% endblock %}

{% block content %}
<div class="row my-2">
    <div class="col-12">
        <h2>Log</h2>
    </div>
</div>

<div class="row">
    <div class="col-10 table-responsive-sm">
        <table class="table table-sm table-responsive-sm">
            <thead class="">
                <tr>
                    <th>Hora</th>
                    <th>Mensaje</th>
                </tr>
            </thead>
            <tbody>
                {% for l in log %}
                    <tr>
                        <th class="font-weight-normal">{{ l.datetime }}</th>
                        <th class="font-weight-normal">{{ l.message }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-2">
        {% include "base/sideprofile.twig" %}
    </div>
</div>
{% endblock %}